.empty-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.description {
    color: #c4bfbf;
}

.image {
    width: 80px;
}