.button {
    border: none;
    background-color: transparent;
    border-radius: 8px;
    padding: 8px 12px;
    color: white;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out;
    width: fit-content;
}

.button:hover {
    opacity: 90%;
}

.side-bar {
    color: #777272;
    background-color: #332E2B;
}

.create-new-project {
    color: #c4bfbf;
    background-color: #332E2B;
}

.create-cancel {
    background-color: transparent;
    color: black;
}

.create-save {
    background-color: black;
    color: white;
}